/*
 * Header
 */
.header {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  text-transform: lowercase;
  background-color: #0bc6dc;
  padding: 1.8rem;
  text-align: left;
}

/*
 * Navigation
 */
nav.ui.menu .item {
  text-transform: uppercase;
}

/*
 * New Word Page
 */
.word {
  text-align: center;
}

.word-name {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  font-weight: 400;
  text-transform: capitalize;
}

.word-container {
  background-color: #6D6148;
  padding: 1em;
  color: #FFECC4;
}

.word-information {
  background-color: #AF9A6D;
  padding: 3em;
  color: #fff;
  font-size: 1.5em;
}

.word-description {
  display: inline;
}

.word-inflection {
  display: inline;
  margin-left: 0.5em;
  font-style: italic;
  font-size: 0.8em;
}

.word-actions {
  padding: 2em;
}

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-red {
  /*background: #cb4e4e;*/
  background: #AF9A6D;
  color: #fff;
  /*box-shadow: 0 6px #ab3c3c;*/
  box-shadow: 0 6px #6D6148;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 40px;
}

.button-red:active {
  box-shadow: 0 0 #6D6148;
  top: 6px;
}

.button-red:hover {
  box-shadow: 0 4px #6D6148;
  top: 2px;
}
